<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 如果您未在 <uses-feature> 声明中将 android:required 设置为 false，则 Android 会假定您的应用必须在
    有该硬件的情况下才能运行。因此，系统会阻止某些设备安装您的应用。-->
    <uses-feature android:name="android.hardware.camera"
        android:required="false"/>

    <!--自定义权限 protectionLevel 属性为必需项，用于指示系统如何向用户告知哪些应用正在请求权限或者谁可以获得该
    权限，如链接的文档中所述。android:permissionGroup 属性为可选项，仅用于帮助系统向用户显示权限。在大多数情况
    下，您应将其设置为标准系统组（在 android.Manifest.permission_group 中列出），但您也可以自行定义组。最好使
    用现有的组，因为这可以简化用户看到的权限界面。您需要为权限提供标签和说明。这些是用户在查看权限列表
    (android:label) 或有关单个权限的详细信息 (android:description) 时能够看到的字符串资源。标签应当简短，
    用几个词描述该权限所保护的关键功能。说明应该用几个句子描述权限允许权限获得者执行哪些操作。我们通常会使用包含
    两个句子的说明：第一句描述权限；第二句提醒用户在向应用授予权限后可能会出现哪类错误。
     -->
    <permission android:name="com.jzw.mypermission.permission.MYCHECKPERMISSION"
        android:label="@string/permission_name"
        android:description="@string/permission_dec"
        android:permissionGroup="android.permission-group.COST_MONEY"
        android:protectionLevel="dangerous"
        />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:ignore="MissingClass">
        <activity
            android:name=".activity.TestFramrworkActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WorkManagerTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NavigationFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TestMvvmActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DataBindingTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LivedataTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LifecycleTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TabLayoutTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CardViewTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DrawerLayoutTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BottomNavigationViewTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NavigationViewTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AndroidTestCoo2Activity"
            android:exported="false" />
        <activity
            android:name=".activity.AndroidTestCooActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AndroidTestView2Activity"
            android:exported="false" />
        <activity
            android:name=".activity.AndroidViewTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JavaTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TestSheJiActivity"
            android:exported="false" />
        <activity
            android:name=".media.SoundPoolActivity"
            android:exported="false"
            android:permission=".media.VedioViewActivity"
            />
        <activity
            android:name=".media.VedioViewActivity"
            android:exported="false" />
        <activity
            android:name=".media.MediaPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".media.MediaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyIntentService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.jzw.myitentservice" />
            </intent-filter>
        </service>
    </application>

</manifest>